<!DOCTYPE html>
<html>
<head>
    <title>Employee About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('templates', filename='Eapp.css') }}">

</head>
<body class="bckimg">

    <h1 class="title1">RM Employee Management。</h1>
    
    <ul class="navi">
        <li class="navi2"><a href="/">Home</a></li>
        <li class="navi2"><a href="/addemp">Add</a></li>
        <li class="navi2"><a href="/deleteemp">Delete</a></li>
        <li class="navi2"><a href="/getemp">Retrieve</a></li>
    </ul>

    <h2 class="title2">About Us</h2>

    <div class="container1">
        <h3 class="title3" style="text-align: center;">Company Leaders</h3>

        <table class="table2">
            <tr>
                <td class="td3">
                    CHAIRMAN
                    <img src="{{ url_for('templates', filename='image/rick.png') }}" style="border:2px solid black;" alt="CM" width="98%" height="100%">
                    RICK
                </td>
                <td class="td3">
                    Chief Executive Officer
                    <img src="{{ url_for('templates', filename='image/morty.jpg') }}" style="border:2px solid black;" alt="CM" width="98%" height="100%">
                    MORTY
                </td>
                <td class="td3">
                    Chief Operating Officer
                    <img src="{{ url_for('templates', filename='image/beth.jpg') }}" style="border:2px solid black;" alt="CM" width="98%" height="100%">
                    BETH
                </td>
                <td class="td3">
                    Chief Technology Officer
                    <img src="{{ url_for('templates', filename='image/jerry.jpg') }}" style="border:2px solid black;" alt="CM" width="98%" height="100%">
                    JERRY
                </td>
            </tr>
        </table>

        <h3 class="title3" style="text-align: center;">Company Story</h2>

        <table class="table1">
            <tr>
                <td class="td1" style="text-align: justify;">
                    <div style="padding-left: 15px;">
                        <p>A next-generation global technology firm that was founded in 2005, RM Employee Management assists companies of all sizes and across all sectors in modernising their HR functions to increase efficiency. </p>
                        <p>The firm initially had a Windows-based HR System, but as time went on, both its reputation and its clientele increased. We identified an opportunity to transition from Window-based software to a Cloud Human Resource Management Software (HRMS) when the economy and trends changed, and the Cloud-Based HRMS software was successfully introduced in India in 2014. The business kept up its growth and entered China, Thailand, and Cambodia.</p>
                        <p>As of 2022, Info-Tech has a staff of more than 300 people, serves more than 20,000 clients, and administers the payroll for more than 500,000 workers.</p>
                    </div>
                </td>
                <td class="td2">
                    <img src="{{ url_for('templates', filename='image/logo.png') }}" alt="logo" width="100%" height="100%">
                </td>
            </tr>
        </table>

        <h3 class="title3" style="text-align: center;">Our Services</h2>
            <p class="p1">We help to make managing businesses easy by providing an All-in-one solution to manage human resource
                matters.</p>
            <p class="p1">Our Human Resource Management System(HRMS) provides a complete solution which includes manage
                employee information and leaves.</p>
  
    </div>

    <ul class="navi2">
        <li class="navi2"><a href="/about">About Us</a></li>
        <li class="navi2"><a href="https://github.com/ChongJingYung/aws-live">Privacy Policy</a></li>
        <li class="navi2"><a href="https://www.instagram.com/kyung_026/">Kyung :)</a></li>
    </ul>

</body>
</html>

