<!DOCTYPE html>
<html>
<head>
    <title>Employee Add Output</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Eapp4.css') }}">

</head>
<body class="bckimg">

    <h1 class="title1">RM Employee Management。</h1>
    
    <ul class="navi">
        <li class="navi2"><a href="/">Home</a></li>
        <li class="navi2"><a href="/addemp">Add</a></li>
        <li class="navi2"><a href="/deleteemp">Delete</a></li>
        <li class="navi2"><a href="/getemp">Retrieve</a></li>
    </ul>

    <h2 class="title2">Employee Saved</h2>

    <div class="container1">
        <h3 class="title3" style="text-align: center;">Employee "{{ name }}" successfully added.</h3>
        <br>
        
        <a href="/addemp" style="text-decoration: none;">
            <button class="cmcLiBtn1" type="submit">GO BACK</button>
        </a>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <ul class="navi2">
        <li class="navi2"><a href="/about">About Us</a></li>
        <li class="navi2"><a href="https://github.com/ChongJingYung/aws-live">Privacy Policy</a></li>
        <li class="navi2"><a href="https://www.instagram.com/kyung_026/">Kyung :)</a></li>
    </ul>

</body>
</html>

