<!DOCTYPE html>
<html>
<head>
    <title>Employee Retrieve Output</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Eapp.css') }}">


</head>
<body class="bckimg">

    <h1 class="title1">RM Employee Management。</h1>
    
    <ul class="navi">
        <li class="navi2"><a href="/">Home</a></li>
        <li class="navi2"><a href="/addemp">Add</a></li>
        <li class="navi2"><a href="/deleteemp">Delete</a></li>
        <li class="navi2"><a href="/getemp">Retrieve</a></li>
    </ul>

    <h2 class="title2">Employee Information</h2>

    <div class="container1">
        <h3 class="title3" style="text-align: center;">Employee ID : "{{ result[0] }}"</h3>
		<h3 class="title3" style="text-align: center;">First Name : "{{ result[1] }}"</h3>
		<h3 class="title3" style="text-align: center;">Last Name : "{{ result[2] }}"</h3>
		<h3 class="title3" style="text-align: center;">Primary Interest : "{{ result[3] }}"</h3>
		<h3 class="title3" style="text-align: center;">Location : "{{ result[4] }}"</h3>
		<h3 class="title3" style="text-align: center;">Image URL: "{{ image }}"</h3>
		<br>

        <img src="{{ image }}" alt="Employee Image" style="display: block;margin-left: auto;margin-right: auto;border:2px solid black;" width="50%" height="50%">

		<br>
		<br>
        
		
        <a href="/getemp" style="text-decoration: none;">
            <button class="cmcLiBtn1" type="submit">GO BACK</button>
        </a>
  
    </div>

    <ul class="navi2">
        <li class="navi2"><a href="/about">About Us</a></li>
        <li class="navi2"><a href="https://github.com/ChongJingYung/aws-live">Privacy Policy</a></li>
        <li class="navi2"><a href="https://www.instagram.com/kyung_026/">Kyung :)</a></li>
    </ul>

</body>
</html>

